openapi: 3.0.0
info:
  title: E-commerce App
  description: E-commerce App
  version: 0.1.9

servers:
  - url: http://localhost:3000/api
    description: local server
  - url: https://e-commerce-app-1jpi.onrender.com/api
    description: Web server
paths:
  /products:
    post:
      summary: Save a product
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                price:
                  type: number
              required:
                - name
                - price
      responses:
        "201":
          description: Product saved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
                  price:
                    type: number
        "500":
          description: Internal server error

  /purchases:
    post:
      summary: Purchase a product
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                quantity:
                  type: integer
                price:
                  type: number
                productid:
                  type: integer
              required:
                - quantity
                - price
                - productid
      responses:
        "201":
          description: Purchase successful
        "500":
          description: Internal server error

  /products/{productId}:
    get:
      summary: Get product by ID
      parameters:
        - in: path
          name: productId
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Product"
        "404":
          description: Product not found

  /products/{productId}/quantity:
    get:
      summary: Get quantity of product
      parameters:
        - in: path
          name: productId
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  productid:
                    type: integer
                  total_quantity:
                    type: integer
        "500":
          description: Internal server error

  /products/{productId}/average-price:
    get:
      summary: Get average price of product
      parameters:
        - in: path
          name: productId
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  productid:
                    type: integer
                  average_price:
                    type: number
        "500":
          description: Internal server error

  /products/{productId}/profit:
    get:
      summary: Get product profit
      parameters:
        - in: path
          name: productId
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  productid:
                    type: integer
                  total_profit:
                    type: number
        "500":
          description: Internal server error

  /products/fewest:
    get:
      summary: Get fewest product
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  productid:
                    type: integer
                  total_quantity:
                    type: integer
        "404":
          description: No products found

  /products/popular:
    get:
      summary: Get popular product
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  productid:
                    type: integer
                  total_quantity:
                    type: integer
        "404":
          description: No products found

components:
  schemas:
    Product:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        price:
          type: number
